.App{
  max-width: 890px;
  margin: 20px auto;

}
.App h2 {
  margin-bottom: 0;
}

.App h4{
  margin-top: 0;
  font-weight: normal;
}
.card-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px
}

button.new-game {
  padding: 10px 20px;
  color: grey;
  background: white;
  border-radius: 6px;
  border: 1px solid grey;
  margin: 40px 0;

  transition: 0.2s ;
}

button.new-game:hover {
color: white;
background: grey;
}

